.Content{
    margin-top:100px;
    animation: fadein 1.2s linear 0.4s 1 forwards;
    opacity: 0;
    height:50%;
    width:100%;
}

.Content h1{
    font-weight: 500;
    font-size: 60px;
    margin-bottom: 5px;
}

.Content p{
    font-size: 25px;
}

.Blur{
    filter: blur(10px);
}

@keyframes fadein{
    100%{
        opacity: 1;
        margin:0;
    }
}
@media (max-width: 700px){
    .Content p{
        font-size: 15px;
    }
    .Content h1{
        font-size: 30px;
    }
}
