.Content label{
    display: block;
    margin: 10px;
    font-size: 14px;
    opacity: 0.5;
    transition: 0.3s linear;
    cursor: pointer;
}

.check{
    margin: 0 auto;
    font-size: 14px;
    opacity: 0.5;
}

.Content label:hover{
    opacity: 1;
}
