
.card {
    background-color: aliceblue;
    margin: 130px auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 300px;
    height: fit-content;
    text-align: center;
    padding-top: 15px;
    cursor: default;
    overflow: auto;
}

.wide{
    max-width: 500px;
}

.card p{
    margin: 10px 10px;
}

.about{
    white-space: pre-line;
}

.starIcon{
    color: goldenrod;
}

.cardButton{
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px;
    color: white;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.green{
    background-color: rgb(56, 150, 56);
}
.green:hover {
    background-color: rgb(69, 185, 69);
}
.exit{
    background-color: rgb(194, 59, 32);
}
.exit:hover{
    background-color: rgb(226, 73, 42);
}
.title {
  color: grey;
  font-size: 18px;
}

.reviews{
    width: 90%;
    margin: 0 auto;
    height: 50px;
    border: 1px solid lightslategray;
    border-radius: 3px;
    font-style: oblique;
    background-color: rgb(226, 226, 226);
    font-size: 13px;
    text-align: left;
    overflow: auto;
}

.reviews ::-webkit-scrollbar-thumb{
    border-radius: 10px;
    height: 20px;
    background: rgba(0, 0, 0, 0.2)
}

.reviews ::-webkit-scrollbar{
    width: 7px;
}

.reviews p {
    margin: 6px;
    border-bottom: 1px solid rgba(134, 146, 158, 0.5);
}